#button {
    height: 120px;
    width: 120px;
    background-color: grey;
    border-radius: 15px;
   animation: mymove 1.3s infinite;
   position:relative
}

@keyframes mymove {
    0% {
        top: 0px;
        left: 0px;
      }
      25% {
        top: 0px;
        left: 250px;
      }
      
      50% {
        top: 250px;
        left: 250px;
      }
      75% {
        top: 250px;
        left: 0px;
      }
      100% {
        top: 0px;
        left: 0px;
      }
    }